<footer
  class="mt-20 w=full border-primary border-t-2 flex flex-col pt-10 pb-6 md:flex-row justify-center items-center md:justify-between gap-10"
>
  <span class="text-primary text-center">
    &copy; 2024 La velada del año <span aria-hidden class="hidden md:inline">
      |
    </span>
    <br aria-hidden class="block md:hidden" />Todos los derechos reservados
  </span>
  <ul class="flex flex-row items-center gap-x-6">
    <li>
      <a
        class="hover:scale-125 hover:opacity-70 inline-block transition"
        href="https://www.instagram.com/"
        target="_blank"
        rel="noopener"
      >
        <img src="instagram.svg" alt="Logo de instagram" />
      </a>
    </li>
    <li>
      <a
        class="hover:scale-125 hover:opacity-70 inline-block transition"
        href="
        https:
        www.twitter.com
        "
        target="_blank"
        rel="noopener"
      >
        <img src="twitter.svg" alt="Logo de twitter" />
      </a>
    </li>
  </ul>
</footer>
