---
import HeroLogo from "@/components/HeroLogo.astro";
---

<section class="flex flex-col justify-center items-center">
  <span
    class="text-xl animate-fade-in-up animate-delay-300 uppercase text-secondary bg-primary px-6 py-1 mb-9 font-medium"
    >Presentacion de la
  </span>
  <HeroLogo
    class="animate-fade-in-up text-primary w-full h-auto md:w-[800px]"
  />
</section>
